@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 184 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 184 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 184 14.3% 4.1%;
    --primary: 184 30% 30%;
    --primary-foreground: 184 9.1% 97.8%;
    --secondary: 184 30.8% 90.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 184 4.8% 95.9%;
    --muted-foreground: 184 5.3% 44.7%;
    --accent: 184 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 184.2%;
    --destructive-foreground: 184 9.1% 97.8%;
    --border: 184 15.9% 90%;
    --input: 184 5.9% 90%;
    --ring: 184 14.3% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 108 14.3% 80.1%;
    --foreground: 108 9.1% 30.8%;
    --card: 108 15.3% 50.1%;
    --card-foreground: 184 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 184 9.1% 97.8%;
    --primary: 108 30.1% 70%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 108 6.5% 15.1%;
    --secondary-foreground: 184 9.1% 97.8%;
    --muted: 108 6.5% 15.1%;
    --muted-foreground: 108 5.4% 63.9%;
    --accent: 108 6.5% 15.1%;
    --accent-foreground: 184 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 184 9.1% 97.8%;
    --border: 108 6.5% 45.1%;
    --input: 108 6.5% 15.1%;
    --ring: 108 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  html {
    @apply h-full;
  }
}

.glass {
  @apply bg-white rounded-md bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-50;
}
